name: test
on: push
jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v2
      - name: build and test
        run: |
          rsync -av ./ /root/ros2_ws/src/disk_monitor/
          cd /root/ros2_ws
          rosdep install -i --from-path src --rosdistro humble -y
          colcon build
          bash -xv ./src/disk_monitor/test/test.bash /root
